*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

header {
  font-size: 3rem;
  margin: 3rem;
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.user-list__row {
  font-size: 1.5rem;
  color: gray;
  line-height: 3rem;
}

.user-list__row--distinct {
  color: black;
  font-size: 1.8rem;
}

.search-input {
  padding: 0.5rem;
  margin-bottom: 3rem;
  border: 2px solid black;
  min-width: 25rem;
}
