*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
   font-family: 'Arial', sans-serif;
}

header {
   font-size: 3rem;
   margin-bottom: 2rem;
}

.user-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
   &__row {
      font-size: 1.5rem;
      color: gray;
      line-height: 3rem;
      &--distinct {
         color: black;
         font-size: 1.8rem;
      }
   }
}
